@import 'fonts';

@import 'variables';

@import 'colors';

.fontTest{
  font-family: 'Work Sans',sans-serif;
}

.fontTest2{
  font-family: 'Roboto',sans-serif;
}

.fontTest3{
  font-family: 'avenir demibold';
}


.div{
  height: 100px;
  width: 100px;
}