@import "fonts";

@import "variables";

@import "colors";

@import "layout";

header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  color: $primary;
  margin: 0 6rem 0 3rem ;

  .logo {
    img {
      height: max-content;
    }
  }

  .form {
    margin-left: 15rem;
    width: 40rem;
    display: flex;
    // border: 2px solid $primary;
    // border-radius: 8px;
    background-clip: border-box;

    input {
      padding: 1.05rem;
      width: 85%;
      border-left: 0.2rem solid rgba(33, 63, 125, 0.2);
      border-top: 0.2rem solid rgba(33, 63, 125, 0.2);
      border-bottom: 0.2rem solid rgba(33, 63, 125, 0.2);
      border-right: none;
      border-top-left-radius: 0.8rem;
      border-bottom-left-radius: 0.8rem;
    }

    input::placeholder {
      font-size: 1.4rem;
      font-family: "Work Sans", sans-serif;
    }

    .search {
      background-color: $tertiary;
      width: 15%;
      border: none;
      border-top-right-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
    }
  }

  .user-btns {
    display: flex;
    align-items: center;
    margin-left: auto;

    a {
      font-size: 1.6rem;
      font-family: "Roboto", sans-serif;
      margin-right: 5rem;
    }

    .bell {
      height: max-content;
      margin-right: 3rem;
    }

    .user-pic {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        margin-right: 1rem;
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        margin-right: 1rem;
      }

      button {
        background-color: $white;
        border: none;
      }
    }
  }
}


//Responsive Design
@media (max-width:1156px) {

  header .form{
    margin-left: 0;
  }

  header .user-btns {
    margin-left: 0;
  }

 
}

@media (max-width:1000px) {
  header .form {
    width: max-content;
  }

  header .user-btns a{
    margin-right: 2rem;
  }

  header .user-btns .bell{
    margin-right: 2rem;
  }
  
}
  
@media (max-width:770px) {
  header .user-btns {
    display: none;
  }
  
  @media (max-width: 500px) {
    header{
      margin-right: 1rem;
    }

    header .logo{
      width: 10rem;
    }
    header .user-btns {
      display: contents;

      a{
        display: none;
      }

      .bell {
        display: none;
      }
    }

    header .form {
      display: none;
    }

    header .user-btns .user-pic p {
      font-size: 1rem;
    }
    .user-pic > img {
      display: none;
    }
    
  }
}