
@import "fonts";

@import "variables";

@import "colors";

@import "layout";


.login-section {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;

  
    .logo {
      position: absolute;
      top: 10%;
      left: 5%;
    }

    
  
    article {
      h1 {
        font-family: avenir bold;
        font-size: 4rem;
        color: $primary;
      }
  
      p {
        font-family: avenir regular;
        font-size: 2rem;
        margin: 1rem 0 6rem;
        color: $secondary;
      }
  
      .form {
        display: flex;
        flex-direction: column;
        align-items: start;
  
        input {
          width: 44.7rem;
          padding: 1.5rem;
          border: 2px solid rgba(84, 95, 125, 0.15);
          border-radius: 5px;
          font-family: avenir regular;
          margin: 0 0 2.4rem;
        }
  
        input::placeholder {
          font-size: 1.4rem;
          opacity: 0.6;
        }
  
        .fgt-btn {
          font-size: 1.2rem;
          font-family: avenir demibold;
          color: $tertiary;
          background-color: $white;
          border: none;
          margin: 0 0 4rem;
        }
  
        .login-btn {
          font-size: 1.4rem;
          font-family: avenir demibold;
          background-color: $tertiary;
          color: $white;
          padding: 1.5rem;
          width: 100%;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }

//Media Queries and Responsive Design
@media (max-width: 1024px) {

  .login-section {
    grid-template-columns: 1fr;


    @media (max-width: 450px) {
      article .form input{
        width: 100%;
       }
      
    }
   

  }


  .login-section > div:nth-child(2){
    display: none;
  }


}
