@import "fonts";

@import "variables";

@import "colors";

@import "layout";

@import "mixins";

.nav {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  color: $primary;
  padding: 3rem 0;

  ul {
    display: flex;
    flex-direction: column;
  }

  .option {
    @include option();
    cursor: pointer;
    opacity: .6;
  }

  .selected{
    background-color:rgba($color: $tertiary, $alpha: .06);
    border-left: 3px solid $tertiary;
    opacity: 1;
  }



  .org_switch {
    @include option();
    margin-bottom: 3rem;
  }

  .opt-grp {
    margin-top: 3rem;
  }

  .opt-grp-title {
    font-size: 1.2rem;
    color: $secondary;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0 0 0 3rem;
  }
}
