@import "fonts";

@import "variables";

@import "colors";

@import "layout";

@mixin option() {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin: 0 0 1rem 0;

  .img {
    height: max-content;
    display: flex;
    align-items: center;
  }

  span {
    margin-right: 1rem;
  }
}



.nav {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  color: $primary;
  padding: 3rem;


  ul {
    display: flex;
    flex-direction: column;
  }

  .option {
    @include option();
  }

  .org_switch {
    @include option();
    margin-bottom: 3rem;
  }


  .opt-grp{
    margin-top:  3rem;
  }
  
  .opt-grp-title {
    font-size: 1.2rem;
    color: $secondary;
    font-weight: 500;
    margin-bottom: 1rem;
  }
}
