//Reset Styles Here
html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus-visible{
  outline: none;
}

select:focus-visible{
  outline: none
}

button{
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  border: none;
}