@import "fonts";

@import "variables";

@import "colors";

@import "layout";

@import "mixins";

@import "utils";

.container {
  position: relative;

  .user-table {
    @include box();
    display: grid;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-collapse: collapse;

    .head-row {
      @include row();
      padding-top: 0;

      th {
        display: flex;
        align-items: center;
      }

      .text {
        font-size: 1.2rem;
        margin-right: 1rem;
      }

      button {
        background: none;
        border: none;
      }
    }

    .body-row:nth-last-child(n + 2) {
      border-bottom: 1px solid rgba($color: $primary, $alpha: 0.1);
    }

    .body-row {
      @include row();
      position: relative;
      align-items: center;

      td {
        font-size: 1.2rem;
        flex-basis: calc(100% / 6);
      }

      .ham-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: blueviolet;

        .button-img {
          background-color: none;
          border: none;
        }

        .button-modal {
          @include box();
          border-radius: 4px;
          position: absolute;
          padding: 1rem 1rem;
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-items: center;
          flex-direction: column;
          top: -50%;
          right: 0;

          button {
            background-color: inherit;
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            width: max-content;
            font-weight: 500;

            span {
              padding-right: 0.5rem;
            }
          }
        }

        .visible{
          visibility: visible
        }
      }

      .inactive {
        @include pill();
        background-color: rgba($color: $primary, $alpha: 0.06);
      }

      .blacklisted {
        @include pill();
        color: $red;
        background-color: rgba($color: $red, $alpha: 0.06);
      }

      .pending {
        @include pill();
        color: $yellow;
        background-color: rgba($color: $yellow, $alpha: 0.06);
      }

      .active {
        @include pill();
        color: $green;
        background-color: rgba($color: $green, $alpha: 0.06);
      }
    }
  }

  .filt-modal {
    @include box();
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 3rem 2rem;
    //Height of the Table head Row
    margin-top: 4rem + 3rem;
    margin-left: 1.5rem;
    width: 27rem;
    border-radius: 0.4rem;

    .filt-form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 1.4rem;
        font-weight: 500;
        color: $secondary;
        margin-bottom: 0.6rem;
      }

      input,
      select {
        padding: 1.05rem;
        border: 0.1rem solid rgba(33, 63, 125, 0.2);
        border-radius: 0.8rem;
        font-family: "Work Sans", sans-serif;
        color: rgba($color: $secondary, $alpha: 0.7);
        margin-bottom: 2rem;
      }

      .modal-btn {
        display: flex;
        justify-content: space-between;

        .reset {
          @include button();
          background-color: $white;
          border: 1px solid $primary;
          color: $secondary;
        }

        .filter {
          @include button();
          background-color: $tertiary;
          border: 1px solid $tertiary;
          color: $white;
        }
      }
    }
  }

  .ctrl-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondary;

    .grpBy {
      font-size: 1.4rem;

      select {
        border: none;
        color: $primary;
        background-color: rgba($color: $primary, $alpha: 0.1);
        padding: 0.65rem 1.2rem;
        font-weight: 600;
        border-radius: 4px;

        option {
          font-family: "Work-sans", sans-serif;
        }
      }
    }

    .pgn {
      display: flex;
      list-style: none;

      li {
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        cursor: pointer;
        a {
          padding: 0 1rem;
          opacity: 60%;
        }
      }

      .active {
        font-weight: 600;
        opacity: 1;
      }

      .ctrl {
        background-color: rgba($color: $primary, $alpha: 0.1);
        border-radius: 4px;
        padding: 0.5rem;
        font-weight: 600;
        a{
          padding: 0;
          opacity: 1;
        }

        .disabled {
          opacity: 0.6;
        }
      }
    }
  }
}
