@import "fonts";

@import "variables";

@import "colors";

@import "layout";

@import "mixins";

.users {
  @include userPage();

  .sect-title {
    @include sectTitle();
    margin-left: 6rem
  }

  .users-details {
    display: flex;
    gap: 2.6rem;
    margin: 0 6rem 4rem;
  }

  .detail-box {
    @include box();
    padding: 2rem 3rem;
    border-radius: 0.4rem;
    flex-basis: 25%;

    .img {
      @include img();
      background-color: rgba($color: $purple, $alpha: 0.1);
    }

    .img1 {
      @include img();
      background-color: rgba($color: $blue, $alpha: 0.1);
    }

    .img2 {
      @include img();
      background-color: rgba($color: $orange, $alpha: 0.1);
    }

    .img3 {
      @include img();
      background-color: rgba($color: $red2, $alpha: 0.1);
    }

    h2 {
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 2.4rem;
      font-weight: 600;
      color: $primary;
    }
  }
}


@media (max-width: 956px) {
  .users {
    grid-column: 1/-1;
  }

  .users .users-details {
    flex-wrap: wrap;
  }

  .users .detail-box {
    flex-basis: 40%;
  }
  
}