$primary: #213f7d;
$secondary: #545f7d;
$tertiary: #39cdcc;
$white: #fff;
$yellow: #e9b200;
$red: #e4033b;
$green: #39cd62;
$purple: #df18ff;
$blue: #5718ff;
$red2: #ff3366;
$orange: #f55f44;
$bg: #fbfbfb;

//color palette Map

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "white": $white,
  "yellow": $yellow,
  "red": $red,
  "green": $green,
  "purple": $purple,
  "blue": $blue,
  "red2": $red2,
  "orange": $orange,
  "bg": $bg,
);

